.doc-page{
  flex: 1;
  flex-direction: column;
}

.page-title-wrap {
  padding-top: 50px;
  padding-bottom: 80px;
  justify-content: center;
}
.page-title{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-color: #bbbbbb;
  color: #bbbbbb;
  border-bottom-width: 2px;
}

.btn {
  height: 80px;
  text-align: center;
  border-radius: 5px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 30px;
  background-color: #0faeff;
}

.text-center {
  justify-content: center;
}

/* position */
.m-bottom-lg {
  margin-bottom: 40px;
}
.m-bottom-md {
  margin-bottom: 20px;
}
.m-bottom-sm {
  margin-bottom: 10px;
}
.m-bottom-xs {
  margin-bottom: 5px;
}